<script>
d3.csv("{{ "/project/web/data/q1_terms_by_year.csv" | relative_url }}", function(error, data){
    
	var data = data
	// Get every column value
	var elements = Object.keys(data[0])
		.filter(function(d){
      //index column removed
			return (d != "term");
		});

	var selection = elements;

    var terms = data.map(function(value,index) { return value['term']; })

    var newData = 
        data.map(function(value,idx) { 
        var d = 
            selection.map(function(year,index) { 
                return value[year]; 
            });
        d.unshift(terms[idx]);
        return d;
    });

    var chart = c3.generate({
        bindto: '#chart',
        data: {
            columns: [
                newData[0],
                newData[1],
                newData[2],
                newData[3],
                newData[4],
                newData[5],
                newData[6],
                newData[7],
                newData[8],
                newData[9],
                newData[10],
                newData[11],
                newData[12],
                newData[13],
                newData[14],
                newData[15],
                newData[16]                
            ]
        },
        axis: {
            x: {
                type:'category',
                categories: selection.map(function(year,index) { return year; })
            },
            y: {
                label: {
                    text: 'Count per genre',
                    position: 'outer-middle'
                }
            }
        }
    });
});

</script>