<script>

    var pieChart2 = c3.generate({
        bindto: '#pieChartQ3_2',
        data: {
            // iris data from R
            columns: [
                ['with_slang_words', 30635],
                ['without_slang_words', 69365],
            ],
            colors: {
                without_slang_words: '#27ae60',
                with_slang_words: '#e74c3c'
            },
            type : 'pie',
            onclick: function (d, i) { console.log("onclick", d, i); },
            onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        }
    });

</script>