<script>
//replace by csv if you want
d3.tsv("{{ "/project/web/data/test.tsv" | relative_url }}", function(error, dataq3){

	var dataq3 = dataq3
	// Get every column value
	var elements = Object.keys(dataq3[0])
		.filter(function(d){
      //index column removed
			return (d != "word");
		});
	var selectionq3 = elements[0];

  newDataq3 = dataq3.map(function(value,index) { return value[selectionq3]; });
  newDataq3.unshift(selectionq3);

  var chartq3 = c3.generate({
    bindto: "#barChart",
    data: {
      columns: [
          newDataq3
      ],
      type: 'bar'
    },
    bar: {
      width: {
        ratio: 0.75 // this makes bar width 75% of length between ticks
      }
    },
    axis: {
      x: {
        type:'category',
        categories: dataq3.map(function(value,index) { return value['word']; })
      }
    }
  });

	var selector = d3.select("#drop")
    	.append("select")
    	.attr("id","dropdownq3")
    	.on("change", function(d){
        	selectionq3 = document.getElementById("dropdownq3");
          newDataq3 = dataq3.map(function(value,index) { return value[selectionq3.value]; });
          newDataq3.unshift(selectionq3.value);
          chartq3 = c3.generate({
            bindto: "#barChart",
            data: {
              columns: [
                  newDataq3
              ],
              type: 'bar'
            },
            bar: {
              width: {
                ratio: .75 // this makes bar width 75% of length between ticks
              }
            },
            axis: {
              x: {
                type:'category',
                categories: dataq3.map(function(value,index) { return value['word']; })
              }
            }
          });

         });

    selector.selectAll("option")
      .data(elements)
      .enter().append("option")
      .attr("value", function(d){
        return d;
      })
      .text(function(d){
        return d;
      })

});

</script>